name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install mise
        uses: jdx/mise-action@c37c93293d6b742fc901e1406b8f764f6fb19dac # v2.4.4
        with:
          experimental: true

      - name: Install dependencies
        run: mise run install

      - name: Run linter
        run: mise run lint

      - name: Check formatting
        run: npm run format:check

      - name: Run tests
        run: mise run test

      - name: Build
        run: mise run build
